.navbar.navbar-static.top
  .navbar-inner
    .container

      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.brand(href='/') #{site.title}

      .nav-collapse.collapse
        ul.nav
          - menu.forEach(function(item) {
            li
              a(href="#{item.path}")= item.title
          - })