meta(charset='utf8')
title= site.title
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='#{site.description}')
meta(name='author', content='#{site.author}')

block stylesheets
  link(href='/static/css/bootstrap.min.css', rel='stylesheet')
  link(href='/static/css/bootstrap-responsive.min.css', rel='stylesheet')
  link(href='/static/css/journal.css', rel='stylesheet')

block header-scripts
  //- Header scripts here
  script(src='/static/js/jquery.min.js')
  script(src='/static/js/bootstrap.min.js')

include partials/nav