extends default

block body
  .container-fluid
    .row-fluid
      .span8
        - if (posts) {
          - posts.forEach(function(post) {
            .post
              h1= post.title

              .meta.alert.alert-info
                | Posted on #{plugins.dateformat(post.date, site.date_format)}
                - if (post.categories) {
                  |&nbsp;in categories #{post.categories.join(', ')}
                - }

              .main.well
                != post.content
          - });
        - }

      .span4
        include sidebar