extends default

block body
  .container-fluid
    .row-fluid
      .span8
        .post
          h1= page.title

          .main.well
            != page.content

      .span4
        include sidebar