extends default

block body
  .container-fluid
    .row-fluid
      .span8
        .post
          h1= post.title

          .meta.well
            | Posted on #{plugins.dateformat(post.date, site.date_format)}
            - if (post.categories) {
              |&nbsp;in categories #{post.categories.join(', ')}
            - }

          .main.well
            != post.content
            
      .span4
        include sidebar