.post
  h1= post.title

  .meta.alert.alert-info
    | Posted on #{plugins.dateformat(post.date, 'dddd, dS mmmm yyyy @ h:MMTT')}
    - if (post.categories) {
      |&nbsp;in categories #{post.categories.join(', ')}
    - }

  .main.well
    != post.content