- if (typeof posts !== 'undefined') {
  .well
    ul.nav.nav-list
      li.nav-header
        i.icon-list
        | Recent posts

      - posts.forEach(function(post) {
        li
          p
            div.date #{plugins.dateformat(post.date, 'dS mmmm yyyy @ h:MMTT')}
            a(href='#{post.link}')= post.title
      - });
- }